.cart-inner {
  border-bottom: 2px solid #301a4b;
  margin-bottom: 2rem;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.amount {
  border: 1px solid #301a4b;
  margin-left: 2rem;
  padding: 0.2rem;
}
