@import "../../variables";

.item {
  position: relative;
  font-size: $font-size-x-small;
  color: $color-secondary;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer;
  max-width: 500px;
  max-height: 500px;

  &:hover {
    .image {
      opacity: 0.6;
      transform: scale(1.1);
    }

    .add-btn {
      opacity: 1;
    }
  }
}

.image-container {
  height: 100%;
}

.image {
  max-width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s;
}

.description-container {
  position: absolute;
  width: 100%;
  padding: 8px;
}

.description {
  max-width: 35ch;
}

.add-btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: $color-secondary;
  border: none;
  color: $color-primary;
  transition: all 0.3s;

  &:hover {
    background-color: #0c2d48;
    color: #ffffff;
  }
}
