@import "../../variables";

.item {
  position: relative;
  font-size: $font-size-small;
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer;
  max-width: 600px;
  max-height: 600px;

  &:hover {
    .image {
      opacity: 0.6;
    }

    .add-btn {
      opacity: 1;
    }
  }
}

.image-container {
  height: 100%;
}

.image {
  max-width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s;
}

.description-container {
  position: absolute;
  max-width: 40ch;
  margin-left: 2rem;
}

.add-btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #ffeaec;
  border: none;
  color: #301a4b;
  transition: all 0.5s;
}
