@import "../../variables";

.header {
  background-color: #301a4b;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  @media (min-width: 768px) {
    padding: 1rem 10rem;
  }

  h1 {
    color: #ffeaec;
  }
}

.cart-btn {
  font-size: $font-size-small;
  padding: 0 1.5rem;
  border: none;
  color: #301a4b;
}
