$font-family-base: "Teko", sans-serif;

$font-size-x-small: 20px;
$font-size-small: 24px;
$font-size-medium: 32px;
$font-size-large: 48px;
$fon-size-x-large: 64px;

$color-primary: #0c2d48;
$color-secondary: #ffffff;
