@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import "variables";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  margin: 0;
  padding: 0;
  background-color: #ffeaec;
}
